<div class="row popup-header-positive" style="padding-bottom:0px !important; margin-bottom:0px !important; background: #387ef5 !important;">
<div class ="col text-center" style="color:white;font-size:20px;padding-top:5px;padding-bottom:5px;">

Options
</div>
    <div class="" style="width:auto !important;">
        <a class="col button-close icon ion-close text-right" ng-click="popup.close()"></a>
    </div>    
</div>    
<div ng-click="optselected('report')"  style="width:100%;" >
    <div style="width:100%;padding-left:5px; padding-top:10px;padding-bottom:10px;padding-right;font-size:20px;">Report Issues</div>
<hr style="height:1px; color:black;padding:0px !important; margin:0px !important;">
</div>

<div ng-click="optselected('view')"  style="width:100%;" >
    <div style="width:100%;padding-left:5px; padding-top:10px;padding-bottom:10px;padding-right;font-size:20px;" >Get Reports</div>
<hr style="height:1px; color:black;padding:0px !important; margin:0px !important;">
</div>

